In [1]:
import pandas as pd
import numpy as np
import lxml

In [3]:
sm = pd.read_html('https://admision.unmsm.edu.pe/WebsiteExa_20232/A.html')

In [9]:
sm[0]

                             ESCUELA PROFESIONAL
0                                MEDICINA HUMANA
1                                    OBSTETRICIA
2                                     ENFERMERÍA
3   TEC. MED. LAB. CLÍNICO Y ANATOMÍA PATOLÓGICA
4      TEC. MED. TERAPIA FÍSICA Y REHABILITACIÓN
..                                           ...
73                          INGENIERÍA ELÉCTRICA
74              INGENIERÍA DE TELECOMUNICACIONES
75                          INGENIERÍA BIOMÉDICA
76                        INGENIERÍA DE SISTEMAS
77                        INGENIERÍA DE SOFTWARE

[78 rows x 1 columns]

IndexError: list index out of range