In [2]:
import pandas as pd
import numpy as np
import lxml

In [77]:
link = pd.read_html('https://www.berlitz.com/es-mx/blog/100-palabras-mas-usadas-en-ingles')
data = link[0]
data

         0       1                                        2
0      NaN  Inglés                                  Español
1    100.0      us                            nos, nosotros
2     99.0    most  la mayoría, el mayor número, el máximo,
3     98.0     day                                      día
4     97.0    give                                      dar
..     ...     ...                                      ...
96     5.0     and                                        y
97     4.0      of                                       de
98     3.0      to              a, hacia, hasta, por, para,
99     2.0      be                              ser o estar
100    1.0     the                         el, la, los, las

[101 rows x 3 columns]

In [73]:
data = data[[1, 2]]

en =  data[1]
esp = data[2]

print(en, "\n"*2, "-----------"*4, "\n"*2 , esp)

0      Inglés
1          us
2        most
3         day
4        give
        ...
96        and
97         of
98         to
99         be
100       the
Name: 1, Length: 101, dtype: object

 --------------------------------------------

 0                                      Español
1                                nos, nosotros
2      la mayoría, el mayor número, el máximo,
3                                          día
4                                          dar
                        ...
96                                           y
97                                          de
98                 a, hacia, hasta, por, para,
99                                 ser o estar
100                           el, la, los, las
Name: 2, Length: 101, dtype: object

In [63]:
import time
import random
# Duración en segundos del bucle (1 minuto = 60 segundos)
duracion_en_segundos = 30

# Tiempo de inicio del bucle
tiempo_inicio = time.time()

#variable random
ran = random.randint(1, len(en))

# Bucle while que se ejecutará durante 1 minuto
while (time.time() - tiempo_inicio) < duracion_en_segundos:
    ran = random.randint(1, len(en))
    print(en[ran].lower())
    rpt = input()
    print(esp[ran].lower() == rpt, "\n\n")

    

print("Bucle completado después de 1 minuto.")

give
False
now
True
be
False
come
False
because
True
new
True
could
False
Bucle completado después de 1 minuto.

In [75]:
from colorama import init, Fore

# Inicializar colorama
init(autoreset=True)

# Imprimir "Hola Mundo" en verde
print(Fore.GREEN + "Hola Mundo")

Hola Mundo